<div class="container">
    <div class="left">
        <div class="txt">
            <h1>Task List</h1>
        </div>
        <ul id="list">
        </ul>
    </div>
    <div class="right">
        <input type="text" name="todo" id="todo-input" placeholder="I need to..." onkeypress=callButton(event)>
        <button id="todo-btn" onclick=handleChange()>
        </button>
    </div>
</div>