<div class="container">
    <div class="left">
        <div class="txt">
            <h1>Task List</h1>
        </div>
        <ul id="list">
        </ul>
    </div>
    <div class="right">
        <form action="/todoos" method="POST" enctype="multipart/form-data">
        <input type="text" name="todo" id="todo-input" placeholder="I need to...">
            <input type="file" name="avtar" id="avtar-input" >
            <input type="submit" value="submit">
        </form>
    </div>
</div>