/* Add some styles to make the page look nice */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin: 0px;
}

p {
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-left: 20px;
}

.cta {
    display: block;
    text-align: center;
    margin-top: 40px;
}

.cta a {
    display: inline-block;
    background-color: #3e8e41;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
}

.cta a:hover {
    background-color: #666;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
}

.feature {
    width: 24%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: 20rem;
    cursor: pointer;
    margin-top: 40px;
}

.feature:hover {
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
}

.feature i {
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
}

.feature h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.feature p {
    font-size: 18px;
    color: #666;
}


.txt {
    margin-right: auto;
}

.txt h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
    text-align: start;
    cursor: pointer;
}

#user-name {
    text-align: start;
    color: #666;
    font-size: 34px;
    margin-bottom: 0px;

}

#logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.res {
    display: flex;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#taskely {
    text-decoration: none;
    font-size: 25px;
}

.nav-link:hover {
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.nav-flex {
    display: flex;
    width: 100vw;
    align-items: center;
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 40px;
    }

    .feature {
        width: 100%;
        height: auto;
        margin-bottom: 14px;
        margin-top: 15px;
    }

    .features {
        margin-top: 0px;
    }

    .cta a {
        font-size: 16px;
        padding: 8px 16px;
    }

    .cta {
        margin-top: 0px;
    }

    .navbar a {
        height: 1rem;
        width: 3rem;
    }

    #logout {
        display: flex;
        align-items: flex-start !important;
        margin-left: 2rem;
    }

    .res {
        display: flex;
    }

    .txt h1 {
        margin-top: 0px;
    }

    #dis-none {
        display: none;
    }
}

/* Medium screens (576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    .feature {
        width: 48%;
        height: 18rem;
    }
}

/* Large screens (768px - 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 80%;
    }

    .feature {
        width: 31%;
        height: 20rem;
    }


}

/* Extra large screens (992px and up) */
@media (min-width: 992px) {
    .container {
        max-width: 70%;
    }

    .feature {
        width: 24%;
        height: 20rem;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dedede;
    color: #000;
    padding: 10px;
}

.navbar a {
    display: inline-block;
    background-color: #3e8e41;
    color: #fff;
    padding: 7px 14px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: #666;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-subtext {
    font-size: 16px;
    font-style: italic;
    margin-left: 2rem;
}

.navbar-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.navbar-button {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #ddd;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-buttons {
        margin-top: 10px;
        margin-left: 0px;
    }

    .navbar-button {
        margin-left: 0;
        margin-top: 10px;
    }
}