* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#avtar-input {
    margin-left: 20px;
}
input[type="file"]::file-selector-button {
    background-color: #3e8e41;
    color: #fff;
    padding: 3px 17px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.3s ease;
    border: none;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #666;
  }
#avtar-submit {
    margin-left: 20px;
    background-color: #3e8e41;
    color: #fff;
    padding: 3px 17px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.3s ease;
    border: none;
}
#avtar-submit:hover {
    background-color: #666;
}

.avtar {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    margin-right: 20px;
}

.left {
    width: 48vw;
    height: 50vh;
    background-color: rgb(210, 209, 209);
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 17px;
    overflow: scroll;
    outline: 20px rgb(210, 209, 209) solid;
    outline-offset: -20px;
}

.left h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.left ul {
    list-style-type: none;
    margin: 59px 0px 0px 0px;
}

.special {
    height: 45px;
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.special li {
    margin-right: auto;
}

.special button {
    cursor: pointer;
    background-color: transparent;
    border: 0px;
}

.right {
    width: 48vw;
    height: 50vh;
}

#todo-input {

    border: none;
    height: 9vh;
    font-size: 44px;
    margin: 0px 0px 0px 18px;
    width: 90%;
}

#todo-btn {
    border: none;
    background-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

textarea:focus,
input:focus {
    outline: none;
}

#todo-delete {

    display: flex;
    justify-content: center;
    align-items: center;

}

.fi {
    font-size: 16px;
    margin: 2px 0px 0px 20px;
}

.log {
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4rem;
}

.log a {
    display: inline-block;
    background-color: #3e8e41;
    color: #fff;
    padding: 6px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
}

.log a:hover {
    background-color: #666;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .left {
        width: 90vw;
        margin: 10px;
    }

    .right {
        width: 90vw;
        margin: 10px;
        height: 27%;
    }

    .left ul {
        margin: 20% 10px 0px 0px;
    }

    .left h1 {
        background-color: rgb(210, 209, 209);
    }

    .log {
        justify-content: center;
        padding-right: 0px;
    }
}